<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-8 col-xl-9 d-none d-lg-flex h-100 bg-primary">
      <div class="bg-login-left"></div>
    </div>
    <div class="col-lg-4 col-xl-3  h-100 d-flex align-items-center px-4">
      <div class="login__container w-100">
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
          <h4>Bienvenido!</h4>
          <span class="text-muted">Ingresa tus creedenciales para continuar</span>

          <div class="my-3 w-100">
            <label>Email o Nombre de usuario</label>
            <input type="text" class="form-control" placeholder="email@example.com" [class.is-invalid]="submitted && f.email.invalid"
                   formControlName="email">

            <div class="invalid-feedback" *ngIf="f.email.invalid">
              <div *ngIf="f.email.errors.required">
                Este campo es obligatorio.
              </div>
            </div>

          </div>


          <div class="mb-3 w-100 ">
            <label>Password</label>
            <div class="input-group">
              <input [type]="showPass?'text':'password'" class="form-control" formControlName="password"
                     [class.is-invalid]="submitted && f.password.invalid">
              <button class="btn btn-light" type="button" (click)="showPass = !showPass">
                <i class="bx" [class]="showPass?'bx-lock-open':'bx-lock'"></i>
              </button>
            </div>
            <div class="invalid-feedback d-block" *ngIf="f.password.invalid &&submitted">
              <div *ngIf="f.password.errors.required">
                Este campo es obligatorio.
              </div>
            </div>
          </div>


          <div class="mb-3">
            <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
          </div>


        </form>
        <div class="mb-3 text-right">
          <a class="text-primary" routerLink="/auth/register">¿No Tienes Cuenta?</a>
        </div>


      </div>
    </div>
  </div>
</div>
