/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "variables";
@import "~bootstrap/scss/bootstrap";


.colorInvalid {
  color: red;
}

html, body {
  height: 100%;
}

.bg-login-left {
  background: url("/assets/img/bg-login-img.jpg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ngx-pagination {
  width: fit-content;
  border: 1px solid $border-color;
  border-radius: 3px;
  margin: 0;
  padding: 0;


  li {
    border-right: 1px solid $border-color !important;
    padding: .5rem !important;
    min-width: 45px;
    height: 100%;

    &.current {
      background: $primary !important;
    }
  }


}
